.wrapper-body {
  margin: 0;
  color: #626262;
}

/*
  --Menu--
*/

.wrapper-menu {
  margin-top: 77px;
  margin-bottom: 104px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  font-size: 11px;
  display: block;
  text-transform: uppercase;
}

a:hover {
  color: #03a9f4;
}

li {
  display: inline-block;
}

#menu-lifestyle {
  margin-left: 240px;
  /* or 313px like in PSD pic
  but then menu dont located in the center of our page*/
}

#menu-music {
  margin-left: 124px;
}

#menu-photodiary {
  margin-left: 107px;
}

#menu-travel {
  margin-left: 97px;
}

/*
  --Body--
*/

.col-left {
  float: left;
  display: inline-block;
  width: 45%;
  margin-left: 61px;
  margin-bottom: 40px;
}

.col-right {
  float: right;
  display: inline-block;
  width: 45%;
  margin-bottom: 40px;
}

p {
  width: 80%;
}

.button {
  height: 60px;
  width: 164px;
  border: 1px solid #626262;
  background-color: white;
  text-transform: uppercase;
  color: #626262;
  display: block;
  margin: 0 auto 75px;
}