body, p, button {
  font-family: 'Playfair display', serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #626262;
}

body {
  margin: 0;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

.navigation ul {
  text-align: center;
}

.navigation li {
  display: inline-block;
  margin-top: 75px;
  margin-right: 100px;
  margin-bottom: 100px;
  color: #626262;
}

.navigation li:last-child {
  margin-right: 0;
}

.navigation li a {
  text-decoration: none;
  font-size: 14px;
  display: block;
  text-transform: uppercase;
  color: #626262;
}

.navigation li a:hover {
  color: #03a9f4;
}

.posts-wrap {
  font-size: 0;
}

/* chek placement of all elements on page */

/*
*{
  outline: 1px solid red;
}
*/

.post {
  display: inline-block;
  width: 420px;
  font-size: 14px;
  margin-right: 56px;
  margin-bottom: 130px;
}

.post:nth-child(even) {
  margin-right: 0;
}

.post:nth-last-child(-n+2) {
  margin-bottom: 55px;
}

.post img {
  display: block;
  width: 100%;
  height: auto;
}

.post .category {
  font: 300 14px 'Ubuntu', sans-serif;
  text-transform: uppercase;
  color: #b4ad9e;
  margin-top: 26px;
  margin-bottom: 30px;
}

/*not  ".post h3", just "h3" because  http://csslint.net/ */

h3 {
  font-size: 30px;
  margin-bottom: 35px;
}

.btn-more {
  display: block;
  margin: 0 auto;
  font-size: 20px;
  border: 1px solid;
  padding: 20px 35px;
  margin-bottom: 75px;
  background-color: rgb(255, 255, 255);
}